@import '../../../resources/css/style.css';

footer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /* background: #ffcf40; - yellow */ 
    /* background: #88CEFB; light blue*/
    background-color: rgb(150,150,150);
    height: 50px;
    position: fixed;
    /* position:absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.innerContainer{
    justify-content: space-between;
}

button{
    width:auto;
}