@import '../../../resources/css/style.css';

footer {
    /* background: #ffcf40; - yellow */ 
    /* background: #88CEFB; light blue*/
    background-color: rgb(150,150,150);
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.innerContainer{
    justify-content: space-evenly;
}

button{
    width:auto;
}

.debugPane{
    position: absolute;
    bottom: 0px;
    right: 0px;
}