@import '../../../resources/css/style.css';

errormsg{
    top: 40%;
    position: absolute;
    width:300px;
    min-width: 300px;
    height:60px;
    left: 50%;
    margin-left: -150px;
}


.errmsg{
    border-radius: 10px;
    background-color: rgb(255, 225, 225);
    border-color: red;
    border-style: solid;
    text-align: center;
}