@import '../../../resources/css/style.css';

voting{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
    width: 350px;
}

table{
    margin: 0 auto;
}

table, th, td {
    border: 1px solid grey;
    text-align:center;
    width:350px;
}
.col1 {
  width: 30%;
}
.col2 {
  width: 70%;
}

.revealPane{
  position: relative;
  top: 10px;
  width:300px;
  min-width: 300px;
  height:55px;
  left: 50%;
  margin-left: -150px;
  border-radius: 10px;
  /* background-color: rgb(255, 225, 225);
  border-color: red; */
  border-style: solid;
  box-shadow: 0 0 20px white;
  text-align: center;
  white-space: pre-wrap; /* new line with &#10; in div*/
}

.voteCountPane{
  color:whitesmoke;
  bottom: 10%;
  position: absolute;
  min-width: 350px;
  left: 50%;
  margin-left: -175px;
}