header {
    padding: 1rem;
    display: flex;
    /* align-items: stretch; */
    justify-content: space-between;
    /* color: #ffffff; */
    background: #bf9b30;
}

/* replace title with logo everntually */
htitle {
    font-size: 4vw;
}

div {
    font-size: 5vw;
}